html {
  font-size: 12px;
}

body {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 135%;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 130.5%;
}

h3{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.58rem;
}

h4{
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 138.8%;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 137.5%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.66rem;
  font-style: normal;
  line-height: 130%;
}

.p2 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0015em;
  color: #112233
}

b {
  font-weight: 600;
  padding: 0;
  margin: 0;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 1.33rem;
  font-weight: 500;
  color: #112233;
  text-decoration: none;
}

.big_number {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 5.33rem;
  line-height: 6.91rem;
  color: #FFCC00;
}

/* General================================================= */

.container {
  width: 100%;
  max-width: 1208px;
  margin: 0 auto;
}

.title {
  margin: 9.16rem auto 0;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #112233;
  background-color: #ffcc00;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 60px;
}

.pagination {
  display: flex;
  align-self: center;
}

.pagination ul {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.pagination li {
  padding: 0.833rem;
}

/* Header================================================== */

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-top: 4.33rem;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-self: center;
}

.logo ul {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.logo .logo-img {
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.logo a {
  padding: 1.25rem 7.083rem;
  text-decoration: none;
}

.nav {
  display: flex;
  align-self: center;
}

.nav ul {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.nav a {
  padding: 1.66rem;
  color: #112233;
  position: relative;
  transition: color 0.3s linear;
}

/*.nav a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: none;
  opacity: 0; 
}*/

.nav a:hover {
  color: #f82228;
}

.nav a:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f82228;
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 1;
  transition: color 0.3s linear;
}

.menu {
  display: flex;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.menu ul {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.menu .shopping-cart {
  background-image: url(images/shopping-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.menu a {
  padding: 1.66rem;
  text-decoration: none;
  color: #112233;
}

/* Main====================================================*/

.main {
  width: 100%;
  background: url(images/bg_main.svg) center no-repeat;
  background-size: cover;
}

.main-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-main {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  max-width: 380px;
  margin-top: 21.66rem;
}

.text h1 {
  margin-bottom: 2.25rem;
}

.CTA {
  display: flex;
  flex-direction: column;
  width: 53%;
}

.button-main {
  align-self: flex-start;
  margin-top: 5.66rem;
  margin-bottom: 6.66rem;
  padding-left: 5.33rem;
  padding-right: 5.33rem;
}

.mouse {
  align-self: center;
}

.img-main {
  margin-top: 12.083rem;
  margin-right: 14.25rem;
  height: 54.16rem;
  width: 31.25rem;
  padding: 0;
}

/* Shop=====================================================*/

.shop {
  width: 100%;
  background: url(images/circle_bg.svg) no-repeat;
  background-position: 0 407px;
  background-size: 12.25%;
}

.shop-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-shop {
  display: flex;
  align-self: center;
  margin-top: 1.5rem;
}

.nav-shop a {
  padding: 1.5rem;
  color: #112233;
  position: relative;
  text-align: center;
  /* transition: color 0.3s linear; */
}

.nav-shop a:after {
  content: "";
  display: block;
  /* text-align:center; */
  width: 172%;
  height: 2px;
  background-color: #112233;
  position: absolute;
  top: 77%;
  left: -36%;
  z-index: 1;
}

.nav-shop a:hover {
  color: #ffcc00;
}

.nav-shop a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffcc00;
  position: absolute;
  top: 77%;
  left: 0;
  z-index: 1;
  transition: color 0.3s linear;
}

/* catalagoue======================================== */

.catalogue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 2.66rem;
}

/*.previous_page a {
  padding: 1.66rem;
}*/

.previous_page {
  margin: 25.5rem 0;
  position: relative;
  /*height: 100%;*/
}

.previous_page img {
  position: absolute;
  top: 50%;
}

.next_page a {
  padding: 1.66rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next_page {
  margin: auto 0;
  position: relative;
}

.next_page img {
  position: absolute;
  top: 50%;
}

.products {
  width: 100%;
  max-width: 1072px;
}

.products ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1072px;
  height: 100%;
  max-height: 652px;
}

.products a {
  text-decoration: none;
}

.product-wrapper {
  display: inline-block;
  background: #fff;
  width: 21.08%;
  border-radius: 20px;
}

.product-wrapper img {
  height: 100%;
}

.products-inner li:nth-child(-n + 4) {
  margin-bottom: 3.33rem;
}

.product {
  display: flex;
  flex-direction: column;
  height: 306px;
}

.product-img {
  margin: 0 auto;
  height: 72%;
}

.product-title {
  margin: 0.83rem auto 0.33rem;
}

.product-price {
  margin: 0rem auto 1.8rem;
  width: auto;
}

/* collections======================================= */

.collections-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.albums {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.album {
  display: flex;
  flex-direction: column;
}

.album_info {
  margin-top: 1.33rem;
}

.album_info p {
  margin-top: 0.3rem;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.16rem;
  line-height: 1.64rem;
  color: #112233;
  opacity: 0.5;
}

/* about us========================================== */

.about_us-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_us-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.about_us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10rem;
  max-width: 415px;
}

.about_us-text .p2 {
  margin-bottom: 3.16rem;
}

.facts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fact {
  display: flex;
  flex-direction: column;
}

.big_number {
  align-self: center;
  margin-bottom: 0.83rem;
}

/* footer============================================ */

footer {
  background-color: #040402;
  color: #FAFAFA;
  margin-top: 6.66rem;
}

.footer-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.33rem;
  line-height: 1.583rem;
  opacity: 0.75;
}

footer h3 {
  margin-bottom: 2.75rem;
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2.33rem;
  margin-right: 7rem;
}

.column1 p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.16rem;
  line-height: 2rem;
  color: #FAFAFA;
  opacity: 0.5;
}

.column2, .column3, .column4, .column5 {
  margin-top: 3.75rem;
  max-width: 129px;
}